@charset "utf-8";

.list-page-container{
	width:100%;
	position: relative;
}
.list-page-container .banner{
	width: 960px;
	height: 200px;
	margin:0 auto;
	background: #959595;
	padding: 8px;
}
.list-page-container .line{
	width: 100%;
	height: 37px;
	border-bottom: 1px solid #f90;
	margin-top: 22px;
}

.list-page-container .breadcrumb{
	width:960px;
	margin: 0 auto;
	text-align: right;
	background-color: transparent;
	margin-top: 10px;
	font-size: 14px;
	line-height: 24px;
	color: #959595;
	padding: 2px 15px;
}
.list-page-container .breadcrumb a{
	font-size: 14px;
	line-height: 24px;
	color: #959595;
	font-weight: bold;
}

.list-page-container .list-content{
	width: 960px;
	height: 710px;
	margin: 0 auto;
	border-left:1px solid #f90; 
	position: relative;
	margin-top: 0px;
}

.list-page-container .list-content .list-content-ul{
	width: 144px;
	float: left;
}

.list-page-container .list-content .list-content-ul .list-content-li{
	width: 157px;
	height: 40px;
	background: url("../images/icons/vertical-menu-Nocurrent.png") no-repeat;
	margin-bottom: 22px;
	margin-left: -11px;
}

.list-page-container .list-content .list-content-ul .list-content-li-1{
	margin-top: 10px;
}

.list-page-container .list-content .list-content-ul li.list-content-logo{
	height: 80px;
	width: 150px;
	background: url("../images/icons/filter-btn-main.png") no-repeat;
	margin-top: -41px;
	margin-left: -39px;
}

.list-page-container .list-content .list-content-ul .list-content-li a{
	color:#fff;
	font-size: 14px;
	line-height: 29px;
	width: 105px;
	height: 32px;
	display: inline-block;
	margin-left: 32px;
	text-align: center;
	text-indent: -4px;
}
.list-page-container .list-content .list-content-ul .list-content-li-current{
	background: url("../images/icons/vertical-menu-current.png") no-repeat;
}

.list-page-container .list-content .list-contetn-box{
	width: 813px;
	height: 650px;
	background: url("../images/bgs/list-content-page.png") no-repeat;
	display: inline-block;
	float: right;
	vertical-align: top;
	margin-top: 23px;
	position: relative;
	padding: 27px;
}


.bxslider > li{      /*设置插件boxslider的高度值*/
	height: 615px;
}

/*人才招聘 申请表单*/
.job-details-table{
	width: 760px;
	height: 590px;
	/*background: rgba(54, 54, 54, 0.52);*/
	color: #959595;
	overflow: auto;
}

.job-details-table table th,
.job-details-table table td{
	color:#f90;
	border: 1px solid #959595;
	text-align: center;
	font-size: 14px;
	line-height: 40px;
	padding: 0px 0px;
	position:relative;
}

.job-details-table table .td-1{
	width:100px;
}
.job-details-table table .td-2{
	text-align: left;
	padding-left: 18px;
	color: #ccc;
	font-size: 14px;
}

.job-details-table table .td-3{
    text-align: left;
    color: #fff;
    padding-left: 22px;
    padding-bottom: 25px;
}
.job-details-table table .td-3 h1{
	color:#f90;
	font-size: 14px;
	line-height: 40px;
	/* font-weight: bold; */
}
.job-details-table table .td-3 p{
	color: #ccc;
	font-size: 14px;
	line-height: 26px;
	margin-bottom: 14px;
}

.job-details-table table #applying{
	color: #f91;
	font-size: 13px;
	float: right;
	width: auto;
	margin: 10px;
}

/*对滚动条的美化*/

/*<!-- 重写 图文内容展示 便于滚动条美化 -->*/
.content-boxes{
	width:793px;
	height: 612px;
}
.content-boxes .article-text-down {
	margin-top: 20px;
	overflow: hidden;
	height: 615px;
	width: 780px;
}

.list-page-container .list-content .list-contetn-box{
	padding-right:0;
}

.job-details-table {
	width: 770px;
}


#scrollbox3 {
    overflow: auto;
    -webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}

.track3 {
    width: 10px;
    background: rgba(0, 0, 0, 0);
    margin-right: 2px;
    border-radius: 10px;
    -webkit-transition: background 250ms linear;
    transition: background 250ms linear;
}

.track3:hover,
.track3.dragging {
    background: #d9d9d9; /* Browsers without rgba support */
    background: rgba(0, 0, 0, 0.15);
}

.handle3 {
    width: 7px;
    right: 0;
    background: #999;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 7px;
    -webkit-transition: width 250ms;
    transition: width 250ms;
}

.track3:hover .handle3,
.track3.dragging .handle3 {
    width: 10px;
}









